<header>
    <h1>View posted images</h1>
</header>
<div id="post-container">
    <div id="photo-container">
        <h2 id="post-title">{{currentPost.title}}</h2>
        <div id="post-info">
            <div id="image-post-author">Posted by: {{currentPost.username}}</div>
            <div id="image-post-date">Posted on: {{currentPost.created}}</div>
        </div>
        <img id="image-post-image" src="/{{currentPost.photopath}}">
        <div id="image-post-desc">{{currentPost.description}}</div>
    </div>
    <div id="comment-container">
        <div id="messages">
            {{#each currentPost.comments}}
                {{> comment this}}
            {{/each}}
        </div>
        <div id="comment-box">
            <textarea id="comment-box-text"></textarea>
            <button id="comment-submit">Submit</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });
</script>